<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>  
  </head>
  <body id="home">
	<div class="stage">

		
		<div class="message">
			<div>
				<p>Welcome to <strong>Snippet Creative</strong></p>
				<%= link_to "Sign in", new_user_session_path, :class => 'btn btn-success btn-large' %>
				<%= link_to "Register", new_user_registration_path, :class => 'btn btn-success btn-large' %>
			</div>
		</div>
		
	</div>
  	<div id="bg">
		<% @snips.each do |snip| %>
			<%= image_tag snip.snip.image.url(:large) %>
		<% end %>
  	</div>
  </body>
</html>
